---
import Main from '../../layouts/Main.astro'
import SearchBar from '../../components/SearchBar.astro'
---

<Main 
  PageName="Search"
  TabTitle="Search",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <SearchBar />
</Main>
