---
import Main from '../../layouts/Main.astro'
// import SearchBar from '../../components/SearchBar.astro'
import SearchBar from '../../components/ui/Search'
import { getCollection } from 'astro:content'

const allNotes = await getCollection('notes')
---

<Main 
  PageName="Search"
  TabTitle="Search",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <SearchBar client:load  searchList={allNotes} />
</Main>
