@import "tailwindcss";

html, body {
  font-family: 'Inter Variable', sans-serif;
  background-color: #0F141B;
  color: #F2F5F7;
}

.navItem {
  border-bottom: 3px solid transparent;
}

.navItem:hover {
  border-bottom: 3px solid;
  transition: 0.8s;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid;
}