---
import Main from '../../layouts/Main.astro'
import { getCollection } from 'astro:content'

const notes = await getCollection('notes')
const tagsWithNotes = notes.reduce((allNotes, note) => {
  const noteTags = note.data.tags
  if (noteTags) {
    noteTags.forEach((tag) => {
      if (!allNotes[tag]) {
        allNotes[tag] = []
      }
      allNotes[tag].push(note)
    })
  }
  return allNotes
}, {})

const tags = [...new Set(notes.map((note) => note.data.tags).flat())]
tags.sort()
---

<Main 
  PageName="Tags"
  TabTitle="Tags",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <div class="flex flex-wrap gap-y-3">
    {tags.map(tag => (
      <a href={`/tags/${tag}`}>
        <div class="bg-[#1E262F] rounded-lg mr-3 text-lg flex items-center">
          <div class="px-4 py-2">{tag}</div>
          {/* <div class="font-medium">|</div>
          <div class="px-3">{tagsWithNotes[tag].length}</div> */}
        </div>
      </a>
    ))}
  </div>
</Main>
