---
import Main from '../layouts/Main.astro'
---

<Main 
  PageName="About"
  TabTitle="About",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website",
  MetaUrl="https://derekbrown.io"
>
  <section class="text-lg bg-[#1E262F] p-6 mr-3 rounded-lg">
    <div class="mb-3">
      I'm Derek - a Software Engineer who enjoys DevOps.
    </div>
    <div class="mb-3">
      I like to code and play disc golf. I made this site to share things related to my career in software. The <a href="https://github.com/derekmbrown/derekbrown.io" class="text-[#617BFF] hover:underline font-bold" target="blank">source</a> for this site is on my <a href="https://github.com/derekmbrown" class="text-[#617BFF] hover:underline font-bold" target="blank">GitHub</a>.
    </div>
    <div>
      I can be reached on <a class="text-[#617BFF] hover:underline font-bold" href="https://www.linkedin.com/in/brownderekm" target="blank">LinkedIn</a> or by <a class="text-[#617BFF] hover:underline font-bold" href="mailto:dmbrown710@gmail.com" target="blank">email</a>.
    </div>
  </section>
</Main>