---
import Main from '../layouts/Main.astro'
---

<Main 
  PageName="About"
  TabTitle="About",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <section class="mb-7">
    <div class="mb-3">
      I like to code and play disc golf.
    </div>
    <div class="mb-3">
      The <a href="https://github.com/derekmbrown/derekbrown.io" class="text-blue-400 hover:underline" target="blank">source</a> for this site is on my <a href="https://github.com/derekmbrown" class="text-blue-400 hover:underline" target="blank">GitHub</a>.
    </div>
    <div>
      I can be reached on <a class="text-blue-400 hover:underline" href="https://www.linkedin.com/in/brownderekm" target="blank">LinkedIn</a> or by <a class="text-blue-400 hover:underline" href="mailto:dmbrown710@gmail.com" target="blank">email</a>.
    </div>
  </section>
</Main>