---
import Main from '../layouts/Main.astro'

const allNotes = await Astro.glob('./notes/*.md')
allNotes.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
---

<Main 
  PageName="Home"
  TabTitle="Home",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <div class="flex justify-between mb-6 items-center">
    <div class="md:text-4xl text-3xl font-bold">Latest Notes</div>
    <div class="text-lg bg-[#1E262F] py-3 px-5 rounded-lg">
      <a class="hover:underline" href="tags/note">View all</a>
    </div>
  </div>

  {allNotes.slice(0, 5).map((note) =>
    <div class="flex flex-col justify-between md:flex-row md:mb-3 mb-3 bg-[#1E262F] p-6 text-lg rounded-lg">
      <div class="mr-2">
        <a class="hover:underline" href={note.url}>{note.frontmatter.title}</a>
      </div>
      <div class="text-[#7E8C9A] shrink-0">
        {new Date(note.frontmatter.pubDate).toDateString().slice(4, 15)}
      </div>
    </div>
  )}
</Main>
