---
import Main from '../layouts/Main.astro'
import { getCollection } from 'astro:content'

const allNotes = await getCollection('notes')
allNotes.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate))
---

<Main 
  PageName="Home"
  TabTitle="Home",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <div class="flex justify-between mb-6 items-center">
    <div class="md:text-4xl text-3xl font-bold">Latest Notes</div>
    <a href="tags/note">
      <div class="text-lg bg-[#1E262F] py-3 px-5 rounded-lg">
        View all
      </div>
    </a>
  </div>

  {allNotes.slice(0, 5).map((note) =>
    <a href={`/notes/${note.id}`}>
      <div class="flex flex-col justify-between md:flex-row md:mb-3 mb-3 bg-[#1E262F] p-6 text-lg rounded-lg">
        <div class="mr-2">
          {note.data.title}
        </div>
        <div class="text-[#7E8C9A] shrink-0">
          {new Date(note.data.pubDate).toDateString().slice(4, 15)}
        </div>
      </div>
    </a>
  )}
</Main>
