---
import Main from '../layouts/Main.astro'

const allNotes = await Astro.glob('./notes/*.md')
allNotes.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
---

<Main 
  PageName="Home"
  TabTitle="Home",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  {allNotes.map((note) =>
    <div class="flex flex-col justify-between md:flex-row">
      <div><a href={note.url}>{note.frontmatter.title}</a></div>
      <div class="text-[#ABABAB]">
        {new Date(note.frontmatter.pubDate).toDateString().slice(4, 15)}
      </div>
    </div>
  )}
</Main>
