---
import Main from '../layouts/Main.astro'
import { getCollection } from 'astro:content'
import FeedItem from '../components/FeedItem'

const allNotes = await getCollection('notes')
allNotes.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate))
---

<Main 
  PageName="Home"
  TabTitle="Home",
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <div class="flex justify-between mb-6 items-center">
    <div class="md:text-4xl text-3xl font-bold">Latest Notes</div>
    <a href="tags/note">
      <div class="text-lg bg-[#1E262F] py-3 px-5 rounded-lg">
        View all
      </div>
    </a>
  </div>

  {allNotes.slice(0, 5).map((note) =>
    <FeedItem client:load note={note} />
  )}
</Main>
